@charset "ISO-8859-1";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   font-family: 'Poppins', sans-serif;
   background: url("https://cdn.pixabay.com/photo/2017/12/10/20/56/feather-3010848_960_720.jpg") no-repeat center top;
  background-size: cover;
 
}
.formulario_login .avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 22%;
  left: calc(50% - 50px);
}

.formulario_login{
  width: 400px;
  height: 340px;
  background: #e9e3e6;
  margin: auto;
  margin-top: 180px;
  box-shadow: 7px 13px 37px #6a6d6e;
  padding: 20px 30px;
  border-top: 4px solid #736f72 ;
  color:#001233 ;
}
.formulario_login h4{
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;
}
.formulario_login h4:hover{
  background-color: #e4e4f7;
  color: #001233;
  transition: 0.5s all;
}
.controls{
  width: 100%;
  border: 1px solid #33415c;
  margin-bottom: 15px;
  padding: 11px 10px;
  background:	#E3E7F3;
  font-size: 14px;
  font-weight: bold;
}
.formulario_login p{
  height: 40px;
  text-align: center;
  border-bottom: 1px solid;
}
.formulario_login a{
  color:#33415c;
  text-decoration: none;
  font-size: 16px;
}
.formulario_login a:hover{
  text-decoration: underline;
  transition: 0,5s all;
}