*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   font-family: 'Poppins', sans-serif;
   background: url("https://cdn.pixabay.com/photo/2015/11/13/07/47/europe-1041661_960_720.jpg") no-repeat center top;
  background-size: cover;
 
}
